
## User settings
xcuserdata/


# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm

.build/


### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
/.DS_Store
